<nav class="navbar header-navbar d-flex flex-row mb-3">
    <button class="navbar-toggler nav-link bg-transparent btn btn-light d-block me-auto" @onclick="OnToggleClick">
        <span class="oi oi-menu"></span>
    </button>

    <form method="post" action="Logout">
        <button type="submit" class="nav-link btn btn-link">Logout</button>
    </form>

    <a class="mx-2" href="https://site.com" target="_blank">About</a>
</nav>

@code {
    [Parameter] public bool ToggleOn { get; set; }
    [Parameter] public EventCallback<bool> ToggleOnChanged { get; set; }

    async Task OnToggleClick() => await Toggle();

    async Task Toggle(bool? value = null) {
        var newValue = value ?? !ToggleOn;
        if(ToggleOn != newValue) {
            ToggleOn = newValue;
            await ToggleOnChanged.InvokeAsync(ToggleOn);
        }
    }
}