<AuthorizeView>
    <Authorized>
        <form method="post" action="Logout">
            <button type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Login">Login</a>
    </NotAuthorized>
</AuthorizeView>
